/*
    You can add your own custom styles here.
*/

/* custom.scss */
// h1 {
//     color: #3498db;
//     /* 改变标题颜色 */
//     font-size: 2.5em;
//     /* 改变标题字体大小 */
//     text-align: center;
//     /* 中心对齐 */
// }

/* 添加一个按钮样式 */
.my-button {
    background-color: #e74c3c;
    /* 按钮背景色 */
    color: white;
    /* 按钮文字颜色 */
    padding: 10px 20px;
    /* 内边距 */
    border: none;
    /* 去掉边框 */
    border-radius: 5px;
    /* 圆角 */
    cursor: pointer;
    /* 鼠标悬停时显示手型 */
}

.my-button:hover {
    background-color: #c0392b;
    /* 悬停时改变背景色 */
}

#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}

// 字体
body,
.article-content {
    font-family: "MiSans", sans-serif;
}